body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  background: orange;
  margin: 0;
  padding: 0;
}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(2, 41, 41);
 }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
thead {
  background-color: #ee0a0a;
  color: #fff;
}
tbody {
  background-color: #11c7e7;
  color: black;
  border: none;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}
form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;
}
form input[type="date"] {
  width: 100%; 
}
